snippet  {  "bracket" 
{$1}$2
endsnippet

snippet  (  "bracket" 
($1)$2
endsnippet

snippet  [  "bracket" 
[$1]$2
endsnippet

snippet  $  "bracket" 
$$1}$$2
endsnippet

snippet  <  "bracket" 
<$1>$2
endsnippet
